.wrapper {
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  max-width: 1000px;
  justify-content: space-between;
  padding-right: 200px;

  .link {
    text-decoration: none;
    color: black;
    transition: opacity 0.5s ease-out;
    &:hover {
      text-decoration: underline 3px solid rgba(0, 0, 0, 0.6);
      opacity: 0.6;
    }
  }
  .activeLink {
    h2 {
      color: white;
    }
    text-decoration: underline 3px solid white;
  }

}

.heading {
  color: rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  width: fit-content;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.ghLink {
  text-decoration: none;
  transition: opacity 0.5s linear;

  span {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 10px;
  }

  h2 {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
  }

  &:hover {
    opacity: 0.5;
  }
}

.linkActive {
  h2 {
    color: black;
  }
}

@media (max-width: 991px) {

  .heading {
    font-size: 18px;
  }

  .ghLink {
    h2 {
      display: none;
    }
  }
}


@media (max-width: 650px) {

  .heading {
    font-size: 14px;
    max-width: 100px;
    text-align: center;
  }

  .ghLink {
    h2 {
      display: none;
    }
  }
}

@media (max-width: 440px) {
  .heading {
    font-size: 12px;
    text-align: center;
  }

  .ghLink {
    h2 {
      display: none;
    }
  }
}