@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

#root {
  width: 90vw;
  min-height: 90vh;
  margin: 0 auto;
  padding-top: 40px;
}

body {
  background-color: #3291ce;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

* {
  font-family: 'Inter', system-ui !important;
  box-sizing: border-box;
  user-select: none;
}

.App {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  grid-column-gap: 20px;
  max-width: 1080px;
  align-items: center;
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.block {
  position: relative;
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 20px;
    letter-spacing: 1.3px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
  }
}

.currencies {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  li {
    display: inline-flex;
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    justify-content: center;
    flex: 1;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
      background-color: #16b67f;
      color: #fff;
    }

    &:last-of-type {
      display: inline-flex;
      align-items: center;
      flex: 0 0 50px;
      border-right: 0;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.currency__title {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 500;
}

.modal-currencies {
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  li {
    display: block;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #16b67f;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #2e8d6d;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(179, 174, 174, 0.5);
}

.header {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  width: fit-content;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.arrow {
  transition: transform .4s ease;
}

.up {
  transform: rotate(180deg);
}
